.loading-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;

    .vstack-container {
        display: flex;
        flex-direction: column;
        margin-right: 4px;
        margin-bottom: 4px;

        .loading-text {
            color: $appOutlineColor;
            font-size: lg;
            font-weight: 700;
            margin-right: 4px;
            margin-bottom: 4px;
        }

        .spinner {
            margin-bottom: 4px;
            color: $appOutlineColor;
        }
    }
}
