.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 25px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;

    .stack-container {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
        margin-top: 8px;
    }

    .sidebar-card-box {
        margin-top: 60px;
        margin-bottom: 40px;
        border-radius: 30px;
    }
}

/* If you want to style the Links and SidebarCard components separately,
     you can target their classes or IDs and add styles accordingly */
